@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.WhoWeAre>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@{
    Layout = "Master.cshtml";
}

@section MetaData
{
    <title>@Model.Value("seoTitle")</title>
    <meta name="description" content="@Model.Value("seoDescription")">
    @{
        string[] tagsList = (string[])Model.Value("seoKeywords");

        if (tagsList.Count() > 0)
        {
            <meta name="keywords" content="@string.Join(",", tagsList)">
        }
    }
}

<!DOCTYPE HTML>
<section class="contact_section layout_padding-top-15">
    <div class="container">
        <div class="d-flex flex-column align-items-start">
            <div class="custom_heading-container">
                <h2>
                    @Model.Value("whoWeAreTitle")
                </h2>
                <hr>
            </div>
        </div>
        <div class="layout_padding-top-15 layout_padding2-bottom">
            <div class="row">
                <div class="col-md-7">
                    <div>
                        @Model.Value("whoWeAreSectionOneBodyText")
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="img-box">
                        @{
                            var itemMediaPirker = Model.Value<MediaWithCrops>("whoWeAreImg");
                            if (itemMediaPirker != null)
                            {
                                <img src="@itemMediaPirker.MediaUrl()" alt="@Model.Value("whoWeAreTitle")" style="display: block; margin-left:auto; margin-right: auto; width: 100%;">
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        @Model.Value("whoWeAreSectionTwoTitle")
                    </h2>
                    <p>
                        @Model.Value("whoWeAreSectionTwoDescription")
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        @Model.Value("whoWeAreSectionThreeTitle")
                    </h2>
                    <p>
                        @Model.Value("whoWeAreSectionThreeDescription")
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        @Model.Value("whoWeAreFooterSectionDescription")
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>