@model Umbraco.Forms.Web.Models.FieldViewModel  
@using Umbraco.Forms.Web
  
@{ var i = 0; }


<div class="form-check" id="@Model.Id" data-umb="@Model.Id">
	
@foreach (Umbraco.Forms.Web.Models.PrevalueViewModel pv in Model.PreValues)  
{    	
		<label class="form-check-label">
			<input type="radio"  class="form-check-input"
				name="@Model.Id"  
				id="@string.Concat(Model.Id,"_",i)"
				data-umb="@string.Concat(Model.Id,"_",i)"   
				value="@pv.Value" 
    			@if (Model.Mandatory) {<text>data-val="true" data-val-required="@Model.RequiredErrorMessage" data-rule-required="true" data-msg-required="@Model.RequiredErrorMessage"</text>}
    			@if (Model.ContainsValue(pv.Value)){<text>checked="checked"</text>} />
    	
			@pv.Value
		</label>
		<br/>
        
    i++;
}

</div>
